<div class="container">
  <!-- Start row title -->
  <div class="row mt-5">
    <div class="col-12">
      <h3 class="text-primary" *ngIf="!candidatoSeleccionado">
        Selecciona un candidato para asignar habilidades:
      </h3>
      <h3 class="text-primary" *ngIf="candidatoSeleccionado">
        Asignando habilidades al candidato {{ candidatoSeleccionado.numero }}:
      </h3>
    </div>
  </div>
  <!-- End row title -->

  <!-- Start canditates row -->
  <div class="row" *ngIf="!candidatoSeleccionado">
    <div class="col-2 mt-1" *ngFor="let candidato of candidatos; let i = index">
      <button class="btn btn-primary" (click)="seleccionarCandidato(i)">
        <h2>Candidato {{ candidato.numero }}</h2>
      </button>
    </div>
  </div>
  <!-- End canditates row -->

  <!-- Start skills row -->
  <div class="row mt-5" *ngIf="candidatoSeleccionado">
    <div class="col-12 mb-2">
      <button (click)="volver()" class="btn btn-primary">
        Volver
      </button>
    </div>
    <div class="col-6">
      <div
        class="alert alert-dark text-muted"
        role="alert"
        *ngIf="habilidades.length == 0"
      >
        No se encontraron habilidades para asignar.
      </div>
      <div class="card" *ngIf="habilidades.length > 0">
        <div class="card-body">
          <h6 class="card-title text-muted">Habilidades disponibles</h6>
          <div class="list-group">
            <button
              *ngFor="let habilidad of habilidades; let i = index"
              (click)="asignarHabilidad(habilidad, i)"
              type="button"
              class="list-group-item list-group-item-action"
            >
              {{ habilidad.nombre }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div
        class="alert alert-dark text-muted"
        role="alert"
        *ngIf="candidatoSeleccionado.habilidades.length == 0"
      >
        El candidato no posee habilidades asignadas.
      </div>
      <div class="card" *ngIf="candidatoSeleccionado.habilidades.length > 0">
        <div class="card-body">
          <h6 class="card-title text-muted">Habilidades Asignadas</h6>
          <div class="row">
            <div class="col-12">
              <span
                *ngFor="
                  let habilidad of candidatoSeleccionado.habilidades;
                  let i = index
                "
                class="badge badge-pill badge-primary p-3 m-1"
                ><strong
                  style="cursor: pointer"
                  (click)="quitarHabilidad(habilidad, i)"
                  >&times;</strong
                >
                {{ habilidad.nombre }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End skills row -->
</div>
